<ul class="dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
    <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
      <div ng-if="hasHeading($index)" typeahead-heading template-url="headingTemplateUrl" heading="getHeading($index)"></div>
      <div typeahead-match template-url="templateUrl" index="$index" match="match" query="query" active="isActive($index)"></div>
    </li>
</ul>
